.burger div{
    background-color: white;
    width: 30px;
    height: 5px;
    margin: 4px;
}

#containerTimerAreaZen{
    position: absolute;
    top: 500px;
    height: 150px;
}

#containerTimerAreaSpecial{
    position: absolute;
    top: 500px;
    height: 150px;
}

#containerTimerAreaLight {
    position: absolute;
    top: 500px;
    height: 150px;
}

#containerTimerAreaDark{
    position: absolute;
    top: 500px;
    height: 150px;
}

.Book{
    height: 580px;
}

.Creepy{
    height: 580px;
}
