#containerTimerAreaZen{
    position: absolute;
    top: 220px;
    height: 150px;
}

#containerTimerAreaSpecial{
    position: absolute;
    top: 220px;
    height: 150px;
}

#containerTimerAreaLight {
    position: absolute;
    top: 220px;
    height: 150px;
}

#containerTimerAreaDark{
    position: absolute;
    top: 220px;
    height: 150px;
}

.Book{
    height: 310px;
}

.Creepy{
    height: 310px;
}